[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = cti_tei
	email = tim.eismar@telekom.de
[core]
	editor = nano
	autocrlf = input
[credential]
	helper = store
[alias]
    pushall = !git push origin && git push seclab

